/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-dyn-boid {
  font-size: 1em;
  color: inherit;
  background: #ed770d;
  border: 0;
  margin: auto;

  canvas {
    margin: auto;
  }
}
